body {
    text-rendering: optimizeLegibility;
    text-align: center;
}

img {
    pointer-events: none; /* Removes Microsoft Edge - Bing search on images */
}

A, A:active, A:visited, A:hover {
    color: #0057e2;
    text-decoration: none;
}

#tagline {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

#helpline {
    font-weight: bold;
    font-size: 1rem;
}