body {
    text-rendering: optimizeLegibility;
    text-align: center;
}

}

A, A:active, A:visited, A:hover {
    color: #0017c3;
    text-decoration: none;
}

#tagline {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

#helpline {
    font-weight: bold;
    font-size: 1rem;
}